<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="mygettnf" value="https://www.myget.org/F/tnf/api/v3/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <HR-Feed>
    <add key="Username" value="totvstfs" />
    <add key="ClearTextPassword" value="4julxtecv3q6bybgeg67csjerhwrbwfz2hptomtjd7ttf4rxahjq" />
  </HR-Feed>
  </packageSourceCredentials>
  <disabledPackageSources />
</configuration>
